@import "compass/css3/background-size";
@import "compass/css3/inline-block";
@import "compass/css3/text-shadow";

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight_italic';
    src: url('../fonts/OpenSans-LightItalic-webfont.eot');
    src: url('../fonts/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-LightItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-LightItalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

$bodyFont: "open_sansregular", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$italicFont: "open_sanslight_italic", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$boldFont: "open_sansbold", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

body {
  font-family: $bodyFont;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $boldFont;
}

#profile-bar {
  background: #e9e9e9;
  padding: 0.9375em;

  #profile-picture {
    padding-right: 0;

    img {
      border: 6px solid #fff;
    }
  }

  #profile-info {
    h2 {
      color: #444;
      margin-bottom: 0;
    }

    p {
      font-family: $italicFont;
      color: #6f6f6f;
      font-size: 0.75em;
      margin-bottom: 0.25em;
    }

    .social-container {
      margin-bottom: 0.375em;

      .social-icon {
        font-size: 2.25em;
        margin-right: 0.125em;
        color: #aaa;

        &#linkedin-icon:hover {
          color: #0084d7;
        }

        &#facebook-icon:hover {
          color: #3350ae;
        }

        &#google-plus-icon:hover {
          color: #d83d2d;
        }

        &#flickr-icon:hover {
          color: #ff0084;
        }
      }
    }

    .contact-info {
      color: #666;
      font-size: 0.75em;
      margin-bottom: 0.375em;

      &:last-of-type {
        margin-bottom: 0;
      }

      i {
        @include inline-block;
        width: 1em;
      }

      a {
        color: #666;

        &:hover {
          color: #2ba6cb;
        }
      }
    }
  }
}

#about {
  min-height: 480px;
  background: url('../images/home.jpg') 50% 0 fixed;
  color: #fff;

  h1 {
    color: #fff;
    margin-top: 2.5em;
    background: rgba(0,0,0,0.4);
    padding: 0.25em 0.5em;
  }

  p {
    font-size: 0.75em;
    @include text-shadow(0 1px 1px rgba(0,0,0,0.4));
  }
}

.section {
  background: #f9f9f9;

  .section-header {
    background: url('../images/web.jpg');
    @include background-size(cover);
    position: relative;
    padding-top: 2.5em;
    min-height: 9em;
    margin-bottom: 1em;

    h1 {
      color: #fff;
      background: rgba(0,0,0,0.4);
      padding: 0.25em 0.5em;
      position: absolute;
      bottom: 0;
      margin: 0;
      width: 100%;
    }
  }

  p {
    font-size: 0.875em;
  }

  .portfolio-grid {
    li {
      margin-bottom: 0.5em;
      
      div {
        background: #fff;
        border: 1px solid #ccc;
        border-bottom: 3px solid #4d83ad;

        img {
          border-bottom: 1px solid #ccc;
        }

        h6 {
          margin: 0.625em 0.5em;

          a {
            margin-left: 0.375em;
          }
        }
      }
    }
  }
}