@import "compass/css3/appearance";
@import "compass/css3/background-size";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/inline-block";
@import "compass/css3/text-shadow";

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight_italic';
    src: url('../fonts/OpenSans-LightItalic-webfont.eot');
    src: url('../fonts/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-LightItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-LightItalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

$bodyFont: "open_sansregular", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$italicFont: "open_sanslight_italic", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
@mixin boldFont {
  font-family: "open_sansbold", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

body {
  font-family: $bodyFont;
  background: #f9f9f9;
}

h1, h2, h3, h4, h5, h6 {
  @include boldFont;
}

strong {
  @include boldFont;
}

.row {
  max-width: 100%;
}

#profile-bar {
  background: #f0f0f0;
  padding: 0.9375em;

  #profile-picture {
    padding-right: 0;

    img {
      padding: 0.375em;
      background: #fff;
      border: 1px solid #ddd;
    }
  }

  #profile-info {
    h2 {
      color: #444;
      margin: 0;
    }

    p {
      font-family: $italicFont;
      color: #6f6f6f;
      font-size: 0.75em;
      margin-bottom: 0.25em;
    }

    .social-container {
      margin-bottom: 0.375em;

      .social-icon {
        font-size: 2.25em;
        margin-right: 0.125em;
        color: #aaa;

        &#linkedin-icon:hover {
          color: #0084d7;
        }

        &#facebook-icon:hover {
          color: #3350ae;
        }

        &#google-plus-icon:hover {
          color: #d83d2d;
        }

        &#flickr-icon:hover {
          color: #ff0084;
        }
      }
    }

    .contact-info {
      color: #666;
      font-size: 0.75em;
      margin-bottom: 0.375em;

      &:last-of-type {
        margin-bottom: 0;
      }

      i {
        @include inline-block;
        vertical-align: baseline;
        width: 1em;
        margin-right: .125em;
        text-align: center;
      }

      a {
        color: #666;

        &:hover {
          color: #2ba6cb;
        }
      }
    }
  }
}

#about {
  min-height: 480px;
  background: url('../images/home.jpg') 50% 0 fixed;
  color: #fff;

  h1 {
    color: #fff;
    margin-top: 2.5em;
    background: rgba(0,0,0,0.4);
    padding: 0.25em 0.5em;
  }

  p {
    font-size: 0.75em;
    @include text-shadow(0 1px 1px rgba(0,0,0,0.4));
  }
}

.section {
  padding-bottom: 20px;

  .section-header {
    @include background-size(cover);
    position: relative;
    padding-top: 2.5em;
    min-height: 9em;
    margin-bottom: 1em;

    h1 {
      color: #fff;
      background: rgba(0,0,0,0.4);
      padding: 0.25em 0.5em;
      position: absolute;
      bottom: 0;
      margin: 0;
      width: 100%;
    }
  }

  p {
    font-size: 0.875em;
  }

  .portfolio-grid {
    margin: 0 -0.625em;

    li {
      padding-bottom: 0.5em;
      margin: 0;
      clear: none;

      > a {
        display: block;
        border: 1px solid #ddd;

        &.disabled {
          cursor: default;
          -webkit-tap-highlight-color: rgba(0,0,0,0);
        }

        img {
          width: 100%;
        }
      }

      h6 {
        margin: 0.625em 0.5em;
        font-family: $bodyFont;
        text-align: center;

        a {
          margin-left: 0.5em;
          color: #999;

          &:hover, &:focus {
            color: #2795b6;
          }
        }
      }
    }
  }
}

#web .section-header {
  background-image: url('../images/web.jpg');
}

#graphics .section-header {
  background-image: url('../images/design.jpg');
}

#contact .section-header {
  background-image: url('../images/contact.png');
}

form {
  margin: 0;

  label {
    @include boldFont;
    margin-bottom: 0.5em;
  }

  input[type="text"], textarea {
    @include box-shadow(none);
    @include appearance(none);
    @include border-radius(0);
    margin-bottom: 1.5em;

    &:focus {
      @include box-shadow(none);
    }
  }

  textarea {
    max-width: 100%;
    min-height: 100px;
  }

  .button {
    width: 100%;
    font-weight: normal;
    background: #245b96;
    border: none;
    @include box-shadow(none);

    &:hover {
      background: #225286;
    }

    i {
      margin-right: 0.35em;
    }
  }
}

footer {
  font-size: 0.75em;
  color: #999;
}

.clearing-assembled .clearing-container .visible-img {
  height: 85%;
}

.clearing-assembled .clearing-container .carousel {
  height: 14.5%;
  margin-top: 0.5%;
}

.clearing-blackout .fix-height a.thumbnail {
  border: none;
}

.clearing-caption {
  text-align: left;
}

.clearing-main-prev, .clearing-main-next {
  display: none;
}

@media only screen and (min-width: 640px) {
  .hide-for-medium, .hide-for-medium-up {
    display: none !important;
  }
  .hide-for-small {
    display: inherit !important;
  }

  #about p, .section p {
    font-size: 1em;
  }

  #profile-bar {
    position: fixed;
    height: 100%;
    text-align: right;
    border-right: 1px solid #ccc;

    #profile-picture {
      padding-right: 0.9375em;
      
      img {
        height: 130px;
      }
    }

    #profile-info {
      position: static;

      h2 {
        font-size: 1.675em;
      }

      p {
        font-size: 0.875em;
      }

      .contact-container {
        position: absolute;
        bottom: 0;
        margin-bottom: 0.9375em;
        text-align: left;
      }
    }

    [data-magellan-expedition] {
      background: inherit;
      padding: 0.875em 0;
    }

    ul.side-nav li {
      margin: 0;
      border-top: 1px solid #ccc;
      text-align: left;

      a {
        padding: 0.875em 1.5em;
        @include boldFont;
        color: #666;

        i {
          margin-right: 0.25em;
          @include inline-block;
          vertical-align: baseline;
          width: 1.5em;
          text-align: center;
        }
      }

      &:last-of-type {
        border-bottom: 1px solid #ccc;
      }

      &:hover, &.active {
        background: #284c72;
        border-top-color: #1A3658;

        a {
          color: #fff;
        }
      }
    }
  }

  .section .section-header {
    min-height: 12em;
  }
}

@media only screen and (min-width: 1024px) {
  #about {
    min-height: 680px;
    padding-bottom: 2em;
    background-size: 100%;

    h1 {
      margin-top: 5em;
    }

    p {
      margin-left: 0.625em;
    }

    .latest-projects {
      h5 {
        background: #245b96;
        padding: 0.25em 0.75em 0.375em;
        color: #fff;
        font-family: $italicFont;
        font-weight: normal;
        float: left;
        margin-bottom: 1.5em;
      }

      li {
        margin-bottom: 1em;

        h6 {
          margin-top: 0.5em;
          color: #fff;
          font-family: $bodyFont;
          text-align: center;
        }
      }
    }
  }

  .section .section-header {
    min-height: 19em;
  }
}